# Xcode
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Node / API
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Env / configs sensíveis
.env
*.env

# macOS
.DS_Store
